/ClearUnusedAttributes.cs
/ClearUnusedAttributes.cs.meta
/CreateShadowObject.cs
/CreateShadowObject.cs.meta
/CustomAction.cs
/CustomAction.cs.meta
/EditorCallbackViewer.cs
/EditorCallbackViewer.cs.meta
